header.post-list-header
  != partial("_shared/header")
  p Hello, our mission is to make people serve artificial intelligence... Wait, the opposite!
  p We're research group dealing with applied AI. Currently, we're working on the open source framework for developing intelligent bots & virtual assistants.
  p <a href="mailto:a.baygeldin@gmail.com">Contact us</a> and check out our <a href="https://github.com/kill-all-humans-lab">GitHub</a>.

!= partial("_shared/articles", { postlimit: 1 })
